<% provide(:title, 'Update Account Settings') %>

<div class="col-md-9 col-md-offset-1">
  <div class="content">
    <div class="page-header">
      <h2>Update Account Settings</h2>
    </div>

    <%= render partial: 'users/form', locals: { button_label: "Save changes", cancel_path: root_path } %>
  </div>
</div>
