<% provide(:title, 'Sign Up') %>

<div class="col-md-9 col-md-offset-1">
  <div class="content">
    <div class="page-header">
      <h2>Sign Up</h2>
    </div>

    <%= render partial: 'users/form', locals: { button_label: "Create my account" } %>
  </div>
</div>
