<% provide(:title, "Account Settings") %>

<div class="blog-post">
  <div class="page-header">
    <h2>Account Settings <small>(<%#= link_to "edit", edit_user_path(current_user) %>)</small></h2>
  </div>

  <div class="row">
    <%= link_to "Add new trip", new_user_trip_path(current_user) %>

    <br/>

    <table class="table">
    <% @trips.each do |trip| %>
      <tr class="active">
        <td><%= trip.name %></td>
        <td><%= link_to 'Edit', edit_user_trip_path(@user, trip) %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
