
/*  Common
----------------------------------------------------------*/

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #868686;
  background-color: #f5f8fa;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  letter-spacing: 0.014em;
  overflow: scroll;
  overflow-x: hidden;
}

.h1, h1 {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  font-size: 40px;
  color: #484848;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

.h2, h2 {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  font-size: 30px;
  color: #484848;
  line-height: 1.4em;
  letter-spacing: 0.02em;
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

.container {
  position: relative;
}

.tb {
  display: table;
  width: 100%;
}

.tb-cell {
  display: table-cell;
  vertical-align: middle;
}

.flash-messages {
  padding: 15px 15px;
}

.content {
  padding: 0px 15px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #1abc9c !important;
  border-color: #1abc9c;
}

.thumbnail {
  padding: 0px;
}

.label {
  display: inline-block;
  background-color: #1abc9c !important;
  font-size: 90%;
  padding-top: .25em;
  margin-bottom: .25em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 3;
}

/*  Header
----------------------------------------------------------*/

.header {
  position: relative;
  background-color: #fff;
  height: 52px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/*  Home
----------------------------------------------------------*/

.blog-heading {
  position: relative;
  background: asset-data-url("bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 140px 0;
  text-align: center;
  z-index: 9;
}

.blog-heading:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #073028;
  opacity: .4;
  z-index: -1;
}

.blog-heading h1 {
  margin-top: 0;
  font-size: 34px;
  color: #fff;
}

.blog-heading .description {
  font-size: 16px;
  color: #fff;
}

.blog-heading .description p {
  margin-bottom: 0;
}

.search-section {
  background-color: #f1f2f4;
}

.search-section .tb {
  padding: 50px 0;
  max-width: 1000px;
  margin: auto;
}

.search-section .tb .tb-cell {
  width: 50%;
  .text-content {
    text-align: center;
    padding: 0 15px;
  }
  h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
}

.post {
  margin-bottom: 30px;
  float: left;
}

.post .post-media {
  position: relative;
}

.post .post-media .image-wrap img {
  height: 100%;
  max-height: 220px;
}

.post .post-body {
  position: relative;
  text-align: center;
  z-index: 9;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-top: 0;
  padding: 25px 30px;
}

.post .post-title {
  margin-bottom: 13px;
}

.post .post-title h2 {
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  color: #343434;
  margin-bottom: 0;
}

.post .post-meta {
  position: absolute;
  top: 1px;
  left: -1px;
  right: -1px;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: perspective(100em) rotateX(60deg) translateY(-100%);
  -moz-transform: perspective(100em) rotateX(60deg) translateY(-100%);
  -ms-transform: perspective(100em) rotateX(60deg) translateY(-100%);
  -o-transform: perspective(100em) rotateX(60deg) translateY(-100%);
  transform: perspective(100em) rotateX(60deg) translateY(-100%);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}

.post:hover .post-meta {
  opacity: 1;
  -webkit-transform: perspective(100em) rotateX(0deg) translateY(-100%);
  -moz-transform: perspective(100em) rotateX(0deg) translateY(-100%);
  -ms-transform: perspective(100em) rotateX(0deg) translateY(-100%);
  -o-transform: perspective(100em) rotateX(0deg) translateY(-100%);
  transform: perspective(100em) rotateX(0deg) translateY(-100%);
}

.post .post-meta:after,
.post .post-meta:after,
.post .post-meta:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1abc9c;
  opacity: .7;
  top: 0;
  left: 0;
  z-index: -1;
}

.post .post-meta .post-view,
.post .post-meta .post-like,
.post .post-meta .post-comment {
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 33.3333333333%;
  float: left;
  padding: 13px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.post .post-meta .post-view .fa,
.post .post-meta .post-like .fa,
.post .post-meta .post-comment .fa {
  font-size: 20px;
  display: block;
}

.post .post-meta .post-view .count,
.post .post-meta .post-like .count,
.post .post-meta .post-comment .count {
  display: block;
  color: inherit;
  font-family: "Droid Serif", serif;
  font-size: 12px;
  margin-top: 6px;
}

.post .post-date {
  font-family: "Droid Serif", serif;
  font-size: 12px;
  color: #7f7f7f;
}

.post .post-entry {
  margin-bottom: 26px;
  line-height: 1.8em;
  letter-spacing: 0.02em;
}

.post .post-link {
  margin-top: 26px;
}

/*  Featured
----------------------------------------------------------*/

.ri-grid {
  margin: 0;
}

.ri-grid ul li a {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ri-grid ul li a img {
  width: 100%;
}

.pi-plus {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.pi-plus:after, .pi-plus:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pi-plus:before {
  width: 1px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}
.pi-plus:after {
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  bottom: 0;
}

.featured {
  position: relative;
  z-index: 9;
}
.featured .view-all {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  background-color: #1abc9c;
  z-index: 999;
}
.featured .view-all span {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  bottom: 10%;
  left: 0;
  letter-spacing: 0.1em;
}
.featured .view-all .pi-plus {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.featured .view-all:hover .pi-plus:before {
  -webkit-transform: scaleY(1.3);
  -moz-transform: scaleY(1.3);
  -ms-transform: scaleY(1.3);
  -o-transform: scaleY(1.3);
  transform: scaleY(1.3);
}
.featured .view-all:hover .pi-plus:after {
  -webkit-transform: scaleX(1.3);
  -moz-transform: scaleX(1.3);
  -ms-transform: scaleX(1.3);
  -o-transform: scaleX(1.3);
  transform: scaleX(1.3);
}

.pi-thumbs {
  list-style: none;
  position: relative;
  margin: 20px auto;
  padding: 0;
}
.pi-thumbs li a,
.pi-thumbs li a img {
  display: block;
  position: relative;
}
.pi-thumbs li a {
  overflow: hidden;
}
.pi-thumbs li a div.caption {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -100%;
  left: -100%;
  z-index: 9;
}
.pi-thumbs li a div.caption:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1abc9c;
  top: 0;
  left: 0;
  opacity: .8;
  z-index: -1;
}
.pi-thumbs li a div.caption h4 {
  position: absolute;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0;
  bottom: 10%;
  left: 0;
  letter-spacing: 0.1em;
  padding: 0 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.pi-thumbs li a div.caption .pi-plus {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*  Trip
----------------------------------------------------------*/

.flexible-container {
  position: relative;
  padding-bottom: 45%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.flexible-container #map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#trip-button-panel {
  margin-bottom: 5px;
}

#trip-body {
  position: relative;
  border: 1px solid #f2f2f2;
  border-top: 0;
  background-color: #fff;
  padding: 35px 46px 35px 128px;
  margin-bottom: 30px;
  min-height: 316px;
  text-align: left;
}

.trip-title {
  margin-bottom: 13px;
}

.trip-title h2 {
  margin-top: 0;
  font-size: 32px;
  font-weight: 400;
  color: #343434;
  margin-bottom: 0;
}

.trip-meta {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px 0;
  border-right: 1px solid #f2f2f2;
}

#trip-body .trip-meta .trip-view,
#trip-body .trip-meta .trip-like,
#trip-body .trip-meta .trip-comment,
#trip-body .trip-meta .trip-location {
  color: #676767;
  text-align: center;
  width: 82px;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#trip-body .trip-meta .trip-view:hover ,
#trip-body .trip-meta .trip-like:hover,
#trip-body .trip-meta .trip-comment:hover,
#trip-body .trip-meta .trip-location:hover {
  color: #1abc9c;
}

.trip-view .fa,
.trip-like .fa,
.trip-comment .fa,
.trip-location .fa {
  font-size: 20px;
  display: block;
}

.trip-like a {
  color: #676767;
}

.trip-like a:hover {
  color: #1abc9c;
  text-decoration: none;
}

.list-group .label {
  white-space: normal;
}

.label-location {
  margin-right: 5px;
}

.count {
  display: block;
  color: inherit;
  font-family: "Droid Serif", serif;
  font-size: 12px;
  margin-top: 6px;
}

.trip-body-places .place {
  position: relative;
  display: inline-block;
  color: #676767;
  text-align: center;
  width: 82px;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.input-group-addon {
  min-width: 25px;
  padding: 0px;
  background-color: #666;
}

.location-order {
  color: #fff;
  background-color: #666;
  border: 0;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  margin-right: 8px;
}

/*  Authentication
----------------------------------------------------------*/

#sign-in-panel {
  width: 250px;
  padding: 10px 20px;
}

.sign-in-button {
  width: 100%;
}

/*  Media Variations
----------------------------------------------------------*/

@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}

@media screen and (max-width: 720px) {
  .blog-heading {
    padding: 100px 0;
  }

  .search-section .tb,
  .search-section .tb .tb-cell {
    display: block;
    width: 100%;
  }

  .search-section .search-box {
    max-width: 400px;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 640px) {
  .content {
    padding: 0px;
  }

  #trip-body {
    padding: 30px 20px;
  }

  .content .trip-meta {
    position: static;
    height: auto;
    padding: 0 0 10px 0;
    border: 0;
  }

  #trip-body .trip-meta .trip-view,
  #trip-body .trip-meta .trip-like,
  #trip-body .trip-meta .trip-comment,
  #trip-body .trip-meta .trip-location {
    position: relative;
    border: 0;
    display: inline-block;
    padding: 0;
    width: auto;
    padding-right: 17px;
  }

  .trip-view .fa,
  .trip-like .fa,
  .trip-comment .fa,
  .trip-location .fa,
  .trip-view .count,
  .trip-like .count,
  .trip-comment .count,
  .trip-location .count {
    font-size: 14px;
    display: inline-block;
  }
}

@media screen and (max-width: 480px) {
  .blog-heading {
    padding: 50px 0;
  }

  .blog-heading h1 {
    font-size: 22px;
  }

  .blog-heading .description {
    font-size: 13px;
  }
}
