#accordion {
  padding-top: 5px;
}

.input-group-addon {
  min-width: 25px;
  padding: 0px;
  background-color: #666;
}

.location-order {
  color: #fff;
  background-color: #666;
  border: 0;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  margin-right: 8px;
}