
/*  Common
----------------------------------------------------------*/

body {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  color: #868686;
  background-color: #fff;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  letter-spacing: 0.014em;
  overflow: scroll;
  overflow-x: hidden;
}

.h1, h1 {
  font-family: "Droid Serif", serif;
  font-weight: 400;
  font-size: 40px;
  color: #484848;
  line-height: 1.4em;
  letter-spacing: 0.01em;
}

.container {
  position: relative;
}

/*  Header
----------------------------------------------------------*/

.header {
  position: relative;
  background-color: #fff;
  height: 51px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/*  Home
----------------------------------------------------------*/

.blog-heading {
  position: relative;
  background: asset-data-url("bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin: 0;
  padding: 140px 0;
  text-align: center;
  z-index: 9;
}

.blog-heading:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #073028;
  opacity: .4;
  z-index: -1;
}

.blog-heading h1 {
  margin-top: 0;
  font-size: 34px;
  color: #fff;
}

.blog-heading .description {
  font-size: 16px;
  color: #fff;
}

.blog-heading .description p {
  margin-bottom: 0;
}

/*  Trip
----------------------------------------------------------*/

#accordion {
  padding-top: 5px;
}

.input-group-addon {
  min-width: 25px;
  padding: 0px;
  background-color: #666;
}

.location-order {
  color: #fff;
  background-color: #666;
  border: 0;
  text-align: center;
}

.thumbnail {
  display: inline-block;
  margin-right: 8px;
}

/*  Authentication
----------------------------------------------------------*/

#sign-in-panel {
  width: 250px;
  padding: 10px 20px;
}

.sign-in-button {
  width: 100%;
}