<section class="blog-heading text-center">
  <div class="container">
    <h1 class="text-uppercase">Where have you been?</h1>
    <div class="description">
      <p>Oh, you forgot?! Well you better digitize yo shit now!</p>
    </div>
  </div>
</section>
